*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-image: url(boats.jpg);
	background-size: cover;
	background-position:center;
	font-family: sans-serif;
	margin:px;
	margin-top: 0px;
	background-attachment: fixed;
}
.menu-bar
{
   background: rgba(0,100,0);
   text-align: center;
}
.menu-bar ul
{
	display: inline-flex;
	list-style:none;
	color: white;
}
.menu-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}
.active,.menu-bar ul li:hover
{
	background-color:#2bab0d;
	border-radius: 3px;
}
 .sub-menu-1
 {
 	display: none;
 }
 .menu-bar ul li:hover .sub-menu-1
 {
 	display: block;
 	position: absolute;
 	background: rgb(0,100,0);
 	margin-top: 15px;
 	margin-left: -15px;
 }
 .menu-bar ul li:hover .sub-menu-1 ul
 {
 	display: block;
 	margin: 10px;
 }
 .menu-bar ul li:hover .sub-menu-1 ul li
 {
 	width: 150px;
 	padding: 10px;
 	border-bottom: 1px dotted #fff;
 	background: transparent;
 	border-radius: 0;
 	text-align: left;
 }
 .menu-bar ul li:hover .sub-menu-1 ul li:last-child
 {
 	border-bottom: none;
 }
 .menu-bar ul li:hover .sub-menu-1 ul li a:hover
 {
 	color: #b2ff00;
 }
.fa-angle-right
{
	float: right;
}
.img  
{
  border-radius: 50%;
}
.header {
  padding: 10px 16px;
  background:black;
  color: #f1f1f1;
  position:;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
  }
